/* .responsive { width: 20% !important; } */

@media screen and ( min-width: 800px) {
    
    .responsive { width: 30% !important; }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }